config_ordinal=1000
######################
#######SECRETS########
######################
%prod.quarkus.s3.aws.credentials.static-provider.access-key-id=
%prod.quarkus.sqs.aws.credentials.static-provider.access-key-id=
%prod.quarkus.s3.aws.credentials.static-provider.secret-access-key=
%prod.quarkus.sqs.aws.credentials.static-provider.secret-access-key=
%prod.quarkus.datasource.username=
%prod.quarkus.datasource.password=